In [457]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

warnings.filterwarnings('ignore')

In [458]:
df = pd.read_csv('../data/processed/churn_cleaned.csv')

In [459]:
df.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
2,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [460]:
df.columns

Index(['gender', 'SeniorCitizen', 'Partner', 'Dependents', 'tenure',
       'PhoneService', 'MultipleLines', 'InternetService', 'OnlineSecurity',
       'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV',
       'StreamingMovies', 'Contract', 'PaperlessBilling', 'PaymentMethod',
       'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [461]:
binary_map = {
    'Yes': 1,
    'No': 0,
    'Male': 1,
    'Female': 0
}

binary_cols = [
    'gender',
    'Partner',
    'Dependents',
    'PhoneService',
    'PaperlessBilling',
    'Churn'
]

df[binary_cols] = df[binary_cols].replace(binary_map).astype(int)

In [462]:
df.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,0,0,1,0,1,0,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,1,Electronic check,29.85,29.85,0
1,1,0,0,0,34,1,No,DSL,Yes,No,Yes,No,No,No,One year,0,Mailed check,56.95,1889.50,0
2,1,0,0,0,2,1,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,1,Mailed check,53.85,108.15,1
3,1,0,0,0,45,0,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,0,Bank transfer (automatic),42.30,1840.75,0
4,0,0,0,0,2,1,No,Fiber optic,No,No,No,No,No,No,Month-to-month,1,Electronic check,70.70,151.65,1

In [463]:
service_cols = [
    'OnlineSecurity', 'OnlineBackup', 'DeviceProtection',
    'TechSupport', 'StreamingTV', 'StreamingMovies'
]

df[service_cols] = df[service_cols].replace(
    {'No internet service': 'No'}
)

In [464]:
ohe_cols = [
    'MultipleLines',
    'InternetService',
    'OnlineSecurity',
    'OnlineBackup',
    'DeviceProtection',
    'TechSupport',
    'StreamingTV',
    'StreamingMovies',
    'Contract',
    'PaymentMethod'
]

df = pd.get_dummies(
    df,
    columns=ohe_cols,
    drop_first=True
)

df = df.astype(int)

In [465]:
df.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,PaperlessBilling,MonthlyCharges,TotalCharges,Churn,...,OnlineBackup_Yes,DeviceProtection_Yes,TechSupport_Yes,StreamingTV_Yes,StreamingMovies_Yes,Contract_One year,Contract_Two year,PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,0,0,1,0,1,0,1,29,29,0,...,1,0,0,0,0,0,0,0,1,0
1,1,0,0,0,34,1,0,56,1889,0,...,0,1,0,0,0,1,0,0,0,1
2,1,0,0,0,2,1,1,53,108,1,...,1,0,0,0,0,0,0,0,0,1
3,1,0,0,0,45,0,0,42,1840,0,...,0,1,1,0,0,1,0,0,0,0
4,0,0,0,0,2,1,1,70,151,1,...,0,0,0,0,0,0,0,0,1,0

In [466]:
service_yes_cols = [
    'PhoneService',
    'MultipleLines_Yes',
    'OnlineSecurity_Yes',
    'OnlineBackup_Yes',
    'DeviceProtection_Yes',
    'TechSupport_Yes',
    'StreamingTV_Yes',
    'StreamingMovies_Yes'
]


df['service_count'] = df[service_yes_cols].sum(axis=1)
df.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,PaperlessBilling,MonthlyCharges,TotalCharges,Churn,...,DeviceProtection_Yes,TechSupport_Yes,StreamingTV_Yes,StreamingMovies_Yes,Contract_One year,Contract_Two year,PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,service_count
0,0,0,1,0,1,0,1,29,29,0,...,0,0,0,0,0,0,0,1,0,1
1,1,0,0,0,34,1,0,56,1889,0,...,1,0,0,0,1,0,0,0,1,3
2,1,0,0,0,2,1,1,53,108,1,...,0,0,0,0,0,0,0,0,1,3
3,1,0,0,0,45,0,0,42,1840,0,...,1,1,0,0,1,0,0,0,0,3
4,0,0,0,0,2,1,1,70,151,1,...,0,0,0,0,0,0,0,1,0,1

In [467]:
df['tenure_group'] = pd.cut(
    df['tenure'],
    bins=[0, 12, 24, 48, 60, 100],
    labels=['0-1yr','1-2yr','2-4yr','4-5yr','5+yr']
)

In [468]:
tenure_risk_map = {
    '0-1yr': 3,
    '1-2yr': 2,
    '2-4yr': 1,
    '4-5yr': 0,
    '5+yr': 0
}

df['tenure_risk'] = df['tenure_group'].map(tenure_risk_map)

In [469]:
df.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,PaperlessBilling,MonthlyCharges,TotalCharges,Churn,...,StreamingTV_Yes,StreamingMovies_Yes,Contract_One year,Contract_Two year,PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,service_count,tenure_group,tenure_risk
0,0,0,1,0,1,0,1,29,29,0,...,0,0,0,0,0,1,0,1,0-1yr,3
1,1,0,0,0,34,1,0,56,1889,0,...,0,0,1,0,0,0,1,3,2-4yr,1
2,1,0,0,0,2,1,1,53,108,1,...,0,0,0,0,0,0,1,3,0-1yr,3
3,1,0,0,0,45,0,0,42,1840,0,...,0,0,1,0,0,0,0,3,2-4yr,1
4,0,0,0,0,2,1,1,70,151,1,...,0,0,0,0,0,1,0,1,0-1yr,3

In [470]:
df['early_customer'] = (df['tenure'] <= 12).astype(int)
df.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,PaperlessBilling,MonthlyCharges,TotalCharges,Churn,...,StreamingMovies_Yes,Contract_One year,Contract_Two year,PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,service_count,tenure_group,tenure_risk,early_customer
0,0,0,1,0,1,0,1,29,29,0,...,0,0,0,0,1,0,1,0-1yr,3,1
1,1,0,0,0,34,1,0,56,1889,0,...,0,1,0,0,0,1,3,2-4yr,1,0
2,1,0,0,0,2,1,1,53,108,1,...,0,0,0,0,0,1,3,0-1yr,3,1
3,1,0,0,0,45,0,0,42,1840,0,...,0,1,0,0,0,0,3,2-4yr,1,0
4,0,0,0,0,2,1,1,70,151,1,...,0,0,0,0,1,0,1,0-1yr,3,1

In [471]:
df['avg_monthly_charge'] = (df['TotalCharges'] / (df['tenure'] + 1)).round(2) # tenure+1 for 0 tenure 

df.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,PaperlessBilling,MonthlyCharges,TotalCharges,Churn,...,Contract_One year,Contract_Two year,PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,service_count,tenure_group,tenure_risk,early_customer,avg_monthly_charge
0,0,0,1,0,1,0,1,29,29,0,...,0,0,0,1,0,1,0-1yr,3,1,14.50
1,1,0,0,0,34,1,0,56,1889,0,...,1,0,0,0,1,3,2-4yr,1,0,53.97
2,1,0,0,0,2,1,1,53,108,1,...,0,0,0,0,1,3,0-1yr,3,1,36.00
3,1,0,0,0,45,0,0,42,1840,0,...,1,0,0,0,0,3,2-4yr,1,0,40.00
4,0,0,0,0,2,1,1,70,151,1,...,0,0,0,1,0,1,0-1yr,3,1,50.33

In [472]:
threshold = df['avg_monthly_charge'].median()

df['high_spender'] = (df['avg_monthly_charge'] > threshold).astype(int)

In [473]:
df['contract_risk'] = (2 - (df['Contract_One year'] + 2 * df['Contract_Two year']))

In [474]:
df['contract_tenure_risk'] = (
    df['contract_risk'] / (df['tenure'] + 1)
).round(3)

In [475]:
df.drop(columns=['TotalCharges'], inplace=True) # as we have tenure and monthly charges

In [476]:
df.drop(columns='tenure_group' , axis=1 , inplace=True)

In [477]:
df.drop(columns=['Contract_One year','Contract_Two year'], inplace=True)

In [478]:
df.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,PaperlessBilling,MonthlyCharges,Churn,MultipleLines_No phone service,...,PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,service_count,tenure_risk,early_customer,avg_monthly_charge,high_spender,contract_risk,contract_tenure_risk
0,0,0,1,0,1,0,1,29,0,1,...,0,1,0,1,3,1,14.50,0,2,1.000
1,1,0,0,0,34,1,0,56,0,0,...,0,0,1,3,1,0,53.97,0,1,0.029
2,1,0,0,0,2,1,1,53,1,0,...,0,0,1,3,3,1,36.00,0,2,0.667
3,1,0,0,0,45,0,0,42,0,1,...,0,0,0,3,1,0,40.00,0,1,0.022
4,0,0,0,0,2,1,1,70,1,0,...,0,1,0,1,3,1,50.33,0,2,0.667

In [479]:
df.to_csv(
    '../data/processed/churn_fe_data.csv',
    index=False
)